body {
	display: flex;
	justify-content: center;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    margin: 50px;
}

th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

td {
    border-bottom: 1px solid rgb(51, 177, 20);
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}

tr:hover td {
    background: #8aa3a1;
}

th:hover {
	cursor: pointer;
	background-color: #6678b1;
}